<div class="row" style="margin-top:50px">

  <div class="col-md-6 mx-auto" >
    <div class="card card-body">

      <h3>User Login</h3>

      <form [formGroup]="signinForm" (ngSubmit)="onSigninSubmit()">

        <div class="form-group">
          <label for="user-name">Email</label>
          <input type="text" class="form-control" id="user-name" [(ngModel)]="user.email" formControlName="email" name="email_" placeholder="enter your email address">

          <div *ngIf="signinForm.get('email').touched  &&  signinForm.get('email').invalid" style="color: red;">

            <div *ngIf="signinForm.get('email').errors?.required">email is required</div>
            <div *ngIf="signinForm.get('email').errors?.isInputEmpty">email cannot be empty </div>
            <div *ngIf="signinForm.get('email').errors?.email"> email has not valid pattern </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" formControlName="password" name="password"
            placeholder="Password">


          <div *ngIf="signinForm.get('password').touched  &&  signinForm.get('password').invalid" style="color: red">

            <div *ngIf="signinForm.get('password').errors?.required">passsword is required</div>
            <div *ngIf="signinForm.get('password').errors?.isInputEmpty">password cannot be empty </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-right: 10px">Signin</button>
        <button type="submit" class="btn btn-primary" routerLink="/signup">Signup </button>
        <button type="submit" class="btn btn-primary" routerLink="/" style="margin-left: 10px">Home </button>

      </form>
      <div [ngClass]="alert.class" style="margin-top: 10px">{{alert.message}}</div>
    </div>
  </div>
</div>
