.example-card {
  max-width: 400px;
  margin: 40px;
}

.container {
  margin-left: 300px
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
