
<div class="container">
  <h1>Hello World!</h1>
  <p>Three equal width columns! Try to add a new div with class="col" inside the row class - this will create four equal-width columns.</p>
  <div class="row-md-4">
    <div class="col-md-4" style="background-color:lavender;">.col</div>
    <div class="col-md-4" style="background-color:orange;">.col</div>
    <div class="col-md-4 " style="background-color:red;">.col</div>
  </div>
</div>
